{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe - La Boutique Française{% endblock %}

{% block content %}
    <h1>Modifier</h1>
    <a href="{{ path('app_account_password') }}">Modifier mon mot de passe</a> <br>
{% endblock %}
